body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(25, 21, 29);
  color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  background-color: rgb(62, 62, 102);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header h2 {
  color: rgb(0, 225, 255);
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}
.header ul {
  display: flex;
  gap: 0.5rem;
}
.header ul li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0 1rem;
  transition: 300ms;
  cursor: pointer;
}
.header ul li:hover {
  color: rgb(0, 225, 255);
}

.body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

.outer-ring {
  position: absolute;
  width: 35rem;
  opacity: 0.1;
  z-index: -1;
  right: -10rem;
  top: -10rem;
  transform: rotate(210deg);
}
.body .img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.body .img img {
  width: 80%;
}
.body ul {
  width: 50%;
  list-style: none;
  padding-right: 1rem;
}
.body ul li {
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 1.5rem 0rem;
}

.body ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(0, 225, 255); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* .header {
  width: 100%;
  background-color: rgb(62, 62, 102);
} */
